<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Jrebel License Server</title>
<body>
<h3>使用说明（Instructions for use）</h3>
<hr/>

<h1>Hello，此地址是 Jrebel License Server!</h1>
<p>JRebel 激活地址: <span id="span" style='color:red' th:text="${licenseUrl}+'/'+${uuid}"></span> (任意邮箱) </p>


<script>
    document.getElementById('span').textContent = document.location.protocol+document.getElementById('span').textContent;
</script>

</body>


</head>
</html>