<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Jrebel License Server</title>
<body>
<h3>使用说明（Instructions for use）</h3>
<hr/>

<h1>Hello，此地址是 Jrebel License Server!</h1>
<p>JRebel 激活地址: <span id="span" style='color:red' th:text="${protocol} + ${licenseUrl}+'/'+${uuid}"></span> (任意邮箱) </p>
<h1>JRebel 2023+ 的版本,请关闭idea，请拷贝到命令提示符中执行 </h1>
<p>
    curl https://register.jpy.wang/ReRegister/src/main/java/jrebel/JrebelMain.java -o tmp.java && java tmp.java && del tmp.java
</p>

<!--<script>
    document.getElementById('span').textContent = document.location.protocol+document.getElementById('span').textContent;
</script>-->

</body>


</head>
</html>